.partner-card {
    width: 250px;
    height: 600px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .25);
    padding: 1em 0;
    margin-right: 2em;
}

.partner-card-2 {
    width: 250px;
    height: 290px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .25);
    padding: 1em 0;
    margin-right: 2em;
}

.partner-card-2 h2,
.partner-card h2 {
    font-size: 1.25em;
}

.partner-logo-cnt {
    height: 180px;
}

.partner-logo-1 {
    width: 130px;
}

.partner-logo-2 {
    width: 100px;
}

.partner-logo-3 {
    width: 140px;
}

.partner-logo-4 {
    width: 100px;
}

.partner-logo-5 {
    width: 90px;
}

.partner-info {
    padding: .5em 1.5em;
}

.partner-info h2 {
    margin-bottom: .5em;
}