.finish-popup {
    /* height: 300px;
    width: 300px; */
    width: 300px;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -150px;
    /* margin-top: -150px; */
    /* transform: translate(-50%, -50%); */
    padding: 2em;
}

.finish-logo {
    width: 250px;
}

@media only screen and (max-width: 500px) {
    .finish-popup {
        /* height: 240px; */
        width: 240px;
        margin-left: -140px;
    }
    .finish-logo {
        width: 195px;
    }
    .finish-popup h1 {
        font-size: 1.5em;
    }
}